@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #__nuxt{
        @apply flex flex-col min-h-screen bg-white dark:bg-[#121212] font-Raleway
    }
        
    :root{
        /* максимальная ширина контента */
        @apply [--widthContent:1380px]
        /* Растояние от границы брузера по бокам */
        [--widthContentMargin:15px] sm:[--widthContentMargin:20px] xl:[--widthContentMargin:30px]
    }    

    /* Настройка кастомных контейнеров */
    /* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

    .grid-container{        
        grid-template-columns: [full-start] minmax(var(--widthContentMargin), 1fr) [main-start] minmax(0, var(--widthContent)) [main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
        @apply grid
    }

    .grid-container>*{        
        @apply col-[main]
    }    

    .wrapper{ 
        @apply mr-auto max-w-[var(--widthContent)]
    }

    .container{        
        @apply max-w-[var(--widthContent)]
    } 
}

.why_gradient {
    background: linear-gradient(103deg, #B190F1 1.26%, #8B9FEA 36.75%, #75A9E6 57.83%, #5DB2E2 79.94%, #48BBDE 100%);
}

@font-face {
    font-family: 'NeutralFace';
    src: url('../fonts/NeutralFace.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
.NeutralFace {
    font-family: "NeutralFace";
}